<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equacao 2 Grau</title>
</head>
<body>
    <header>
        <h1>Calculadora Equação Segundo Grau</h1>
    </header>

    <!-- Fazer uma tabela para adicionar os parametros  da equação-->
    <div>
        <h4>Digite os coeficientes da equação do segundo grau</h1>
        <table>
            <!-- tr = row, td - column-->
            <tr>
                <td>
                    <label for="a">a</label>
                    <input id="a" type="number" name="a"/>
                </td> 
            </tr>        
            <tr>
                <td>
                    <label for="b">b</label>
                    <input id="b" type="number" name="b"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="a">c</label>
                    <input id="c" type="number" name="c"/>
                </td>
            </tr>        
        </table>
        <button type="submit">Calcular</button>
        <p>Resultado: raizes X' e X''</p>
    </div>
</body>
</html>
